In [3]:
import pandas as pd

In [4]:
datos = {"nombre": ["Pedro","Juan","Lorena"],"Edad":[25,39,33]}
datos

{'nombre': ['Pedro', 'Juan', 'Lorena'], 'Edad': [25, 39, 33]}

In [5]:
df = pd.DataFrame(datos)
df

   nombre  Edad
0   Pedro    25
1    Juan    39
2  Lorena    33

In [6]:
type(df)

pandas.core.frame.DataFrame

In [7]:
df["nombre"]

0     Pedro
1      Juan
2    Lorena
Name: nombre, dtype: object

In [8]:
df.nombre

0     Pedro
1      Juan
2    Lorena
Name: nombre, dtype: object

In [9]:
type(df.nombre)

pandas.core.series.Series