In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    'Col1': [100, 200, 300],
    'Col2': [400, 500, 600],
    'Col3': [700, 800, 900]
}, index=['fila1', 'fila2', 'fila3'])

df

       Col1  Col2  Col3
fila1   100   400   700
fila2   200   500   800
fila3   300   600   900

In [3]:
df.loc['fila1']

Col1    100
Col2    400
Col3    700
Name: fila1, dtype: int64

In [4]:
df.loc[['fila1','fila3']]

       Col1  Col2  Col3
fila1   100   400   700
fila3   300   600   900

In [5]:
df.loc['fila2':'fila3']

       Col1  Col2  Col3
fila2   200   500   800
fila3   300   600   900

In [6]:
df.loc[[False,True,False]]

       Col1  Col2  Col3
fila2   200   500   800

In [7]:
df.loc[df['Col1']>150]

       Col1  Col2  Col3
fila2   200   500   800
fila3   300   600   900

In [9]:
df.loc[:,['Col1','Col2']]

       Col1  Col2
fila1   100   400
fila2   200   500
fila3   300   600

In [10]:
df.iloc[0]

Col1    100
Col2    400
Col3    700
Name: fila1, dtype: int64

In [11]:
df.iloc[:,[0,1]]

       Col1  Col2
fila1   100   400
fila2   200   500
fila3   300   600

In [12]:
df.iloc[1:3]

       Col1  Col2  Col3
fila2   200   500   800
fila3   300   600   900